<p>error-page works!</p>

<ul>
    <li>
        <a routerLink="/auth/login">Login</a>
    </li>
    <li>
        <a routerLink="/auth/register">Register</a>
    </li>
    
    <li>
        <a routerLink="/heroes">All heroes</a>
    </li>
    <li>
        <a routerLink="/heroes/all">All heroes</a>
    </li>
    <li>
        <a routerLink="/heroes/add">Add hero</a>
    </li>
    <li>
        <a routerLink="/heroes/edit/3">Edit hero 3</a>
    </li>
    <li>
        <a routerLink="/heroes/search">Search</a>
    </li>
    <li>
        <a routerLink="/heroes/3">Check hero 3</a>
    </li>
</ul>


